.signup{
    display:flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}
.signup form {
    background: #fff;
    box-shadow: 0 0 20px rgba(0 , 0 , 0, 0.15);
    width:500px;
    height:fit-content;
    padding:20px;
    border-radius: 10px;
}
.signup form .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
    margin-bottom: 10px;
    width:100%;
}
.signup form .box input{
    padding:8px;
    border:1px solid #ccc !important;
    outline:none;
    border: none;
    border-radius: 10px;
}
.error{
    margin-top: 0;
    color:red;
    font-size: 12px;
}